<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="org.doublenian.mybeacon"
    version="0.2.0">
    <name>MyBeacon</name>
	<description>todo</description>
	<license>todo</license>
	<keywords>todo</keywords>
    <!--ios-->
     <platform name="ios">    
        <config-file target="config.xml" parent="/*">
            <feature name="MyBeacon">
                <param name="ios-package" value="MyBeacon" /> 
            </feature>
        </config-file>
        <js-module src="www/MyBeacon.js" name="MyBeacon">
            <clobbers target="myBeacon" />
        </js-module>
        <header-file src="src/ios/MyBeacon.h" />
        <source-file src="src/ios/MyBeacon.m" />
    </platform>
</plugin>
